@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Áreas</title>
</head>
<body>
    <h1>Lista de Áreas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID Área</th>
                <th>Nombre Área</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var area in Model.Areas)
            {
                <tr>
                    <td>@area.IdArea</td>
                    <td>@area.NombreArea</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>